* {
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  font-size: 40px;
  font-weight: 300;
  margin: 5px 0;
}
p {
  font-size: 16px;
}
.container-infoDiv label {
  display: block;
  margin: 5px 0;
}
.container-infoDiv input {
  margin-top: 5px;
  height: 30px;
  width: 250px;
}
input,
label,
select {
  margin-bottom: 25px;
}
textarea {
  resize: none;
  width: 400px;
  height: 200px;
}
